.*
*.log
*.js
*Log*
deps/
tts
node-red
pyozw.sqlite
zw*
__pycache__/
www/**

# Whitelist this 
!.gitignore

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2*
home-assistant_v2.db

